.stat{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
    box-shadow: 0rem 2rem 2.625rem -0.75rem rgba(0, 0, 0, 0.5);
    
    p{
        font-weight: 600;
        
    }
}